<!DOCTYPE html>
<html>
  <head>
    <title>BDS - project</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--- Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!--Leaflet CSS file-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="header">
      <h1>BDS - project 2020</h1>
      <h2>Jonas Vander Vennet & Arne Vandendorpe</h2>
    </div>

    <div class="content grid-container">
      <div class="map-controls grid-map-controls">
        <label for="corona-filter">Filter type of metric:</label>
        <select id="corona-filter" onchange="TwitterFilterChanged()">
          <option value="confirmed">Confirmed cases</option>
          <option value="deaths">Deaths</option>
          <option value="recovered">Recovered</option>
        </select>
        <input type="checkbox" id="check-absolute-numbers" name="check-absolute-numbers">
        <label for="vehicle1"> Use absolute numbers</label><br>
      </div>

      <!-- Twitter Controls-->
      <div class="chart-controls grid-chart-controls">
        
        <!-- Location -->
        <div>
          <label for="language">Language:</label>
          <select name="language-picker-select" id="language-picker-select">
            <option lang="all" value="all" selected>All</option>
            <option lang="de" value="de">Deutsch</option>
            <option lang="en" value="en">English</option>
            <option lang="fr" value="fr">Français</option>
            <option lang="it" value="it">Italiano</option>
            <option lang="nl" value="nl">Nederlands</option>
            <!-- other language options -->
          </select>
        </div>

         <!-- Filter location-->
         <div>
          <label for="locationCheckbox">Location:</label>
          <input type="checkbox" id="locationCheckbox" onclick="locationCheckbox()">
          <!--<label for="location">Country/City:</label>-->
          <input type="text" id="country_or_city" name="Country/City" disabled=true placeholder="Country/City">
          <input type="text" id="radius" name="radius" disabled=true placeholder="radius (km)">
          <div id="location-warning" class="tooltip" style="display: none"><i class="material-icons" style="font-size:20x;color:red">warning</i>
            <span class="tooltiptext">Using location-based data can decrease the amount of processable data as people may have disabled location services.</span>
          </div>
        </div>

        <!-- Begin and end date for search-->
        <div>
          <label for="begindate">Start Date:</label>
          <input type="date" id="begindate" name="begindate">
          <label for="enddate">End Date:</label>
          <input type="date" id="enddate" name="enddate">
        </div>
        
        <!-- Advanced keyword -->
        <div>
          <label for="keyword">Keyword:</label>
          <input type="text" id="keyword" name="keyword">
          
          <div id="keyword-explanation" class="tooltip"><i class="material-icons" style="font-size:20x;color:grey">live_help</i>
            <span class="tooltiptext">Format corresponding to Twitter's advanced search can be used. Example: (homemade OR fresh) AND (bread OR pastry)</span>
          </div>
        </div>

        <button onclick="twitterScrape()" id="keywordBtn" >Search</button>
      </div>


      <!-- This div contains the Leaflet map -->
      <div class="grid-map">
        <div id="mapid"></div>
        <div class="sliderControls">
          <span>Selected date: </span> <span id="currentDateFilter"></span>
          <button id="skip_back_7" class="skip-btn"><i class="material-icons" style="font-size:20x;color:black">fast_rewind</i></button>
          <button id="skip_back_1" class="skip-btn"><i class="material-icons" style="font-size:20x;color:black">skip_previous</i></button>
          <button id="skip_front_1" class="skip-btn"><i class="material-icons" style="font-size:20x;color:black">skip_next</i></button>
          <button id="skip_front_7" class="skip-btn"><i class="material-icons" style="font-size:20x;color:black">fast_forward</i></button>
          <input type="range" min="0" max="100" value="200" class="slider" id="dayRange" name="dayRange">
        </div>
      </div>

      <div id="twitterChartContainer" class="grid-twitter-chart" style="height: 300px; width: 100%;"></div>
      <div id="coronaChartContainer" class="grid-corona-chart" style="height: 300px; width: 100%;"></div>
    </div>

    

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type='text/javascript' > 
      var coronaTimeseriesData = null;
      var borderData = null;
      var populationData = null;
      var dateOffset = null;
      var selectedCountry = null;
    </script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script src="{{url_for('static', filename='js/graph.js')}}"></script>
  </body>
</html>